{% extends 'base.html' %}

{% block title %}Secret Messages{% endblock title %}

{% block content %}

<div class="messages_container">
    {% for message in secret_messages|dictsort:"date_sent" %}
    <div class="message_block">
        <p>to {{ message.receipient.username }}</p>
        <p><a href="{% url 'detail' message.id %}">{{ message.subject }}</a></p>
        <p>
        {{ message.encrypted_text }}
        </p>
        <p>from {{message.sender.username}}</p>
        <p>{{message.date_sent|date:"m/d/y"}}</p>
    </div>

    {% endfor %}
</div>

{% endblock content %}
