nav {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(154,165,139);
    padding: 16px;

}

nav a {

    border: 3px solid black;
    box-shadow: 1% 0px 1% rgb(63, 63, 63);
    padding: 10px;
    margin: 10px;
    background-color: rgb(47, 45, 9);
    color: rgb(201,221,198);
}

p {
    color: rgb(201,221,198);
}
body {
    background-color: rgb(114,122,101);
}
.messages_container {
    display: grid;
    grid-template-columns: repeat(2 2fr);
    grid-template-rows: auto;
}

.message_block {
    display: block;
    border: 3px solid rgb(201,221,198);
    background-color: 5px rgb(175,188,161);
    padding: 18px;
    margin: 20px;
}

img {
    height: auto;
    width: 95%;

}
